body {
    font-family: 'Noto Sans Ethiopic', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.5s;
}
#head {
    border-radius: 900px;
}
p {
    font-weight: bold;
}
header {
    background-color: #00796b;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #004d40;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.5s;
}

nav a:hover {
    color: #ffc107;
}

.content-section {
    display: none;
    padding: 2em;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
