body {
      background-color: rgba(255, 255, 255, 0.973);
}
#head {
    display: flex;
    justify-content: right;
    font-weight: 800;
    margin-top: -90px;
    margin-right: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
} 
#home {
    width: 30px;
}
a{
    padding: 10px;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    margin: 20px;
    display: block;
    background-color: bisque;
    text-decoration: solid;
    border-style: hidden;
    border-color: cyan;
    font-weight: bolder;
    border-radius: 20px;
} 
a:hover {
    background-color: #555;
    color: coral;
    border-radius: 20px;
}
#hr {
    margin-top: 70px;
}
h3 {
    font-size: 40px;
    color: cornflowerblue;
    font-weight: bolder;
}
.con {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#ke {
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.html-1 {
    background-color: cadetblue;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
    padding: 20px;
}
.html-1:hover {
    animation-name: fadeIn;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.774);
}
@keyframes fadeIn {
    from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }
   }
   
   .element {
    animation: fadeIn 2s;
}
#eh {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.html-2 {
    background-color: cadetblue;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
    padding: 20px;
    margin-top: 40px;
}
.html-2:hover {
    animation-name: fadeIn;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.774);
}
.html-3 {
    background-color: cadetblue;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
    padding: 20px;
    margin-top: 40px;
}
.html-3:hover {
    animation-name: fadeIn;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.774);
}
.html-4 {
    background-color: cadetblue;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
    padding: 20px;
    margin-top: 40px;
}
.html-4:hover {
    animation-name: fadeIn;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.774);
}
.head-button {
    align-items: center;
    display: flex;
    margin-right: -60px;
    padding: 20px;
    margin-top: -140px;
    margin-left: 400px;
    font-size: 20px;
    padding: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li { 
    float: right;
    list-style-type: none;
    list-style: none; 
    border-radius: 20px;
}
