.head-contain {
    background-color: white;
    margin: 0;
}
#head-logo {
   margin-left: 20px;
}
.reg-btn {
    margin-left: 30px;
    background-color: rgb(6, 6, 207);
    margin-top: 20px;
    color: white;
}